

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'inconsolata', sans-serif;
  background-color: #151517;
  color: #fff;
}


/* Header */

.site-header {
	background: #f46b45;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 70px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5vw;
}

.search-bar {
	padding: 0.5em;
	background: rgba(255,255,255, 0.1);
	border: solid 2px rgba(255,255,255, 0.2);
	border-radius: 3px;
	color: #fff;
	width: 180px;
	font-family: 'lato', sans-serif;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(255, 255, 255, 0.5);
    outline: 0 none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

#logo {
	font-family: 'inconsolata', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	margin-right: 200px;
	letter-spacing: -1px;
	height: auto;
	border-radius: 2px;
	display: flex;
	align-items: center;
	padding: 0 0.125em 0 0.25em;
}


/* Posts table */

.page {
	width: 100%;
	text-align: center;
	padding: 0;
	margin: 0;
}

.table__header {
	display: flex;
	justify-content: flex-end;
	padding: 1em;
	border: solid 2px #2C2C2E;
	margin-bottom: 50px;
}

.table {
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 1em 5vw;

}

.table-row {
	display: flex;
	justify-content: space-between;
	padding: 1em;
	text-align: left;
	margin-top: 10px;
	border-bottom: solid 1px #2C2C2E;
}

.article-title-wrapper {
	font-family: 'lato', sans-serif;
	width: 50%;
}

.article-url {
	display: block;
	margin: 0;
	color: #616264;
}

.button-inline {
	margin: 0px 10px;
	background: rgb(254,85,70);
	border: none;
	color: #fff;
	padding: 0.75em 1em;
	border-radius: 5px;
}

.btn-wrapper {
	margin-bottom: 100px;
}

.page-nav-btn, .back-btn {
	border: solid 1px #fff;
	background: none;
	color: #fff;
	margin: 10px;
	padding: 0.25em 0;
	width: 120px;
	height: 35px;
	cursor: pointer;
	border-radius: 20px;
	transition: all 0.3s;
}

.page-nav-btn:hover, .back-btn:hover {
	transition: all 0.3s;
	background: #f46b45;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	border: solid 1px transparent;
	color: #fff !important;
}

a:hover {
	color: #fff !important;
}

.post-info-wrapper {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.comments {
	cursor: pointer;
	transition: color 0.3s;
	margin: 0 20px;
	width: 20%;
}

.comments-header {
	text-align: left;
	width: 20%;
}

.author, .author-header {
	width: 20%;
	text-align: left;
}

.points, .points-header {
	margin: 0 20px;
	width: 10%;
	text-align: left;
}

.timestamp-header {
		width: 129px;
		text-align: left;
}

a:link, a:visited {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s;
	cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
 	background: transparent;  /* fallback for old browsers */
}

a:hover, .comments:hover {
	transition: all 0.3s;
	background: #f46b45;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}






/* Comments */

.comment-author {
	display: block;
	color: #eea849;
	font-family: 'inconsolata', sans-serif;
	margin-left: 0;
	margin-bottom: 10px;
}

.comment-author::before {
	content: '';
	display: inline-block;
	height: 8px;
	width: 8px;
	background: #eea849;
	left: 10px;
	margin-right: 6px;
}

.comment-text {
	display: block;
	line-height: 1.25;
	font-family: 'lato', sans-serif;
	max-width: 1200px;
}







